In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [59]:
alunos_url16 = 'https://goo.gl/g1sZVa'
alunos16 = pd.read_csv(alunos_url16, sep = ';')

alunos_url15 = 'https://goo.gl/qM1kWH'
alunos15 = pd.read_csv(alunos_url15, sep = ';')

alunos_url14 = 'https://goo.gl/ymRDkb'
alunos14 = pd.read_csv(alunos_url14, sep = ';')

In [63]:
alunos_concat = pd.concat([alunos16, alunos15, alunos14])
alunos_concat.dropna(inplace = True)
alunos_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53471 entries, 0 to 20602
Data columns (total 16 columns):
matricula               53471 non-null int64
nome_discente           53471 non-null object
ano_ingresso            53471 non-null int64
periodo_ingresso        53471 non-null float64
forma_ingresso          53471 non-null object
tipo_discente           53471 non-null object
status                  53471 non-null object
sigla_nivel_ensino      53471 non-null object
nivel_ensino            53471 non-null object
id_curso                53471 non-null float64
nome_curso              53471 non-null object
modalidade_educacao     53471 non-null object
id_unidade              53471 non-null float64
nome_unidade            53471 non-null object
id_unidade_gestora      53471 non-null float64
nome_unidade_gestora    53471 non-null object
dtypes: float64(4), int64(2), object(10)
memory usage: 6.9+ MB

In [72]:
alunosBTI = alunos_concat[alunos_concat.nome_curso == "TECNOLOGIA DA INFORMAÇÃO"]
alunosCET = alunos_concat[alunos_concat.nome_curso == "CIÊNCIAS E TECNOLOGIA"]

alunosBTI = alunosBTI[~alunosBTI.nome_discente.duplicated()]
alunosCET = alunosCET[~alunosCET.nome_discente.duplicated()]